@model string
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="container-fluid" data-ng-init="courses = [
     {number: '1', name: 'C#', instructor: 'Scott Allen'},
     {number: '2', name: 'Angularjs', instructor: 'Joe Eames'},
     {number: '3', name: 'Javascript', instructor: 'Elijah Manor'}
     ]">*@

<div class="container-fluid" data-ng-controller="CoursesController">
    <h3>Courses</h3>
    <div class="row-fluid">
        <table class="table table-condensed table-hover">
            <tr>
                <th>Course</th>
                <th>Course Name</th>
                <th>Instructor</th>
            </tr>
            <tr data-ng-repeat="course in courses">
                <td>{{course.number}}</td>
                <td>{{course.name}}</td>
                <td>{{course.instructor}}</td>
            </tr>
        </table>
    </div>
</div>


@section Scripts 
{
    <script>
    app.factory('bootStrappedCourses', [function () {
        return {
            courses: @Html.Raw(Model)
            };
    }]);
    </script>
    <script src="~/App/Courses/Controllers/CoursesController.js"></script>
}