<!DOCTYPE html>

<html ng-app="registrationModule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>College Registration</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/App/Modules/registrationApp.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
